.elements {
  max-width: 880px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

.elements__card {
  max-width: 282px;
  width: 100%;
  height: 361px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
}

.elements__image {
  max-width: 282px;
  width: 100%;
  height: 282px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
}

.elements__places {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px 0 21px;
}

.elements__place {
  color: #000;
  font-size: 24px;
  line-height: 100%;
  font-weight: 900;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.elements__delete-button {
  position: absolute;
  width: 18px;
  height: 20px;
  top: 18px;
  right: 15px;
  background-image: url("../imagens/Trash.png");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.elements__delete-button:hover {
  opacity: 0.5;
}

.elements__like-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.elements__like {
  background-image: url("../imagens/like.png");
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 21px;
  height: 19px;
}

.elements__like_active {
  background-image: url("../imagens/like_active.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.elements__like:hover {
  opacity: 0.5;
}

@media (max-width: 1024px) {
  .elements {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    margin: auto;
  }
}

@media (max-width: 544px) {
  .elements {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    margin: auto;
  }
}
