.header {
  max-width: 880px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 45px;
}

.header__logo {
  width: 173px;
  margin-bottom: 41px;
}

.header__line {
  max-width: 880px;
  width: 100%;
}

@media (max-width: 1024px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media (max-width: 544px) {
  .header {
    padding-top: 24px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
  }
}
