.page {
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  color: #fff;
}
