.pop-up {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  font-family: "Inter";
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.pop-up__container {
  width: 430px;
  box-sizing: border-box;
  position: relative;
  padding: 34px 36px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}

.pop-up__close {
  width: 40px;
  height: 40px;
  top: -40px;
  right: -40px;
  position: absolute;
  background-color: transparent;
  background-image: url("../imagens/Close_Icon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.pop-up__title {
  width: 330px;
  height: 23px;
  font-size: 24px;
  font-weight: 900;
  line-height: 100%;
}

.pop-up__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 27px;
}

.pop-up__input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
  font-size: 16px;
}
.pop-up__submit {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 14px;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  cursor: pointer;
  border-radius: 2px;
}

.pop-up__submit_confirm {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 14px;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  cursor: pointer;
  border-radius: 2px;
}

.pop-up__submit:hover {
  opacity: 0.8;
}

.pop-up__opened {
  display: flex;
}

.pop-up__container_image {
  background-color: transparent;
  max-width: 75vw;
  max-height: 75vh;
  padding: 0;
}

.img__pop-up {
  max-width: 100%;
  max-height: 75vh;
  object-fit: contain;
}

.img__pop-up__caption {
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  margin: 10px 0 0 0;
}

.pop-up__error {
  color: #ff0000;
  font-size: 12px;
  line-height: 1.25;
  margin-top: 5px;
  display: block;
  min-height: 12px;
}

.pop-up__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.pop-up__error_visible {
  display: block;
}
.pop-up__submit_disabled {
  background-color: #e5e5e5;
  color: #c4c4c4;
  cursor: not-allowed;
}

.pop-up__submit_disabled:hover {
  opacity: 1;
}
@media (max-width: 544px) {
  .pop-up__container {
    width: 282px;
    height: 322px;
    justify-content: center;
  }

  .pop-up__close {
    width: 26px;
    height: 26px;
    right: 0;
  }

  .pop-up__title {
    width: 100%;
    font-size: 20px;
  }
}
