.content {
  max-width: 880px;
  width: 100%;
  margin: auto;
  padding-top: 40px;
}
.content__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 544px) {
  .content__avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }
}
